<table *ngIf="paises.length > 0" class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Poblacion</th>
        <th>More info</th>
      </tr>
    </thead>
    <!-- {{p.coatOfArms.png}} -->
    <tbody>
      <tr *ngFor="let p of paises;let i = index">
          <td>{{i+1}}</td>
          <td><img style="width: 50px;" [src]="p.flags.png" alt=""></td>
          <td>{{p.name.official}}</td>
          <td>{{p.population | number}}</td>
          <td><a [routerLink]="['/pais',p.cca2 || p.alpha2Code ]" routerLinkActive="router-link-active" >info...</a></td>
      </tr>
    </tbody>
  </table>